<div class="header">
	<div class="header_in">
		<div class="logo_container">
			<img src="logotip.png" width="70px" height="70px">
		</div>

		<ul class="nav">
			<li><a class="nav_link" href="/">Home</a></li>
			<li><a class="nav_link" href="/list">Menu</a></li>
			<li><a class="nav_link" href="/#about_section">About Us</a></li>
			<li><a class="nav_link" href="#">Contacts</a></li>
			<li><a class="nav_link" href="/search">Search</a></li>
		</ul>
	</div>
</div>

<div class="menu">
	<div class="container">

		<div class="menu_items">

			<div id="menu_lists" class="menu_item">
				<div class="menu_item_list" name="list">
					<form action="item" method="post">
					  	<select name="menu" id="list" multiple>
						    <option class="menu_list" value="cake">Type of Cakes</option>
						    <option class="menu_list" value="pizza">Type of Pizzas</option>
						    <option class="menu_list" value="cupcake">Type of Cupcakes</option>
					  	</select>
						<br><br>
						<input class="filter_button" type="submit" value="Filter">
					</form>
				</div>
			</div>


			<div class="menu_item_images">
				<div class="menu_image">
					<div class="images first">
						<div class="menu_item_image">
							<img class="menu_image1" src="image_item1.jpg" width="215px" height="150px">
						</div>
					</div>
					<div class="images second">
						<div class="menu_item_image">
							<img class="menu_image2" src="image_item2.jpg" width="215px" height="150px">
						</div>
					</div>
					<div class="images third">
						<div class="menu_item_image">
							<img class="menu_image3" src="image_item4.jpg" width="205px" height="320px">
						</div>
					</div>
					<div class="images fourth">
						<div class="menu_item_image">
							<img class="menu_image4" src="image_item3.jpg" width="215px" height="150px">
						</div>
					</div>
					<div class="images fifth">
						<div class="menu_item_image">
							<img class="menu_image5" src="image_item5.jpg" width="215px" height="150px">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<section class="list_cake">
	<div class="container">
		
		<div id="cake_item" class="list_title">
			<h2 class="list_item_title">Menu of elements</h2>	
		</div>

		
		<div class="list_cake_items">
			{{#each listPage}}
					<a href="/{{path}}" name="{{name}}" class="list_cake_item">
						<div class="list_item_image">
							<img src="{{image_url}}" width="210px" height="315px">
						</div>
					<div class="list_item_text">{{name}}</div>
					<div class="list_cake_price">{{price}}</div>
					</a>
			{{/each}}
		</div>
		

	</div>
</section>

<div class="footer"> 
	<div class="container">
		<div class="footer_inner">
			<div class="footer_item">
				<p>Find Us:
					<a href=""><img id="icon" src="insta.png" width="20px" height="20px"></a>
					<a href=""><img id="icon" src="face.png" width="20px" height="20px"></a>
				</p>
			</div>
			<div class="footer_item">
				<p>Contacts:  +7 701 777 77 77</p>
			</div>
			<div class="footer_item">
				<p>Location:  Kazakhstan, Almaty</p>
			</div>
		</div>
	</div>
</div>
